<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.model.dao.StudyNoteDao">

    <resultMap id="BaseStudyNoteMap" type="com.cloud.model.bean.dto.StudyNotesDto">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="user_id" property="userId" jdbcType="INTEGER"></result>
        <result column="notes_info" property="notesInfo" jdbcType="VARCHAR"></result>
        <result column="kn_id" property="knId" jdbcType="VARCHAR"></result>
        <result column="kp_id" property="kpId" jdbcType="BIGINT"></result>
        <result column="kn_name" property="knName" jdbcType="VARCHAR"></result>
        <result column="kp_name" property="kpName" jdbcType="VARCHAR"></result>
        <result column="model_kp_id" property="modelKpId" jdbcType="INTEGER"></result>
        <result column="assembly_name" property="assemblyName" jdbcType="VARCHAR"></result>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
    </resultMap>

    <select id="getStudyNoteListPage" resultMap="BaseStudyNoteMap">
        SELECT * FROM study_notes sn
         ${ew.customSqlSegment}
    </select>

    <delete id="delStudyNode" parameterType="list">
        DELETE
        FROM
        study_notes
        WHERE
        1 = 1
        <if test="kIds != null and kIds.length >0 ">
            AND kn_id in
            <foreach collection="kIds" index="index" item="kId" open="(" separator="," close=")" >
                ${kId}
            </foreach>
        </if>
    </delete>


</mapper>